@tailwind base;
@tailwind components;
@tailwind utilities;


.alex-brush-regular {
    font-family: "Alex Brush", serif;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    @font-face {
        font-family: "Alex Brush", serif;
        font-weight: 400;
        font-style: normal;
    }
}